.sandwich {
	display: block;
	height: 20px;
	width: 32px;
	position: relative;
	cursor: pointer;
	&--active {
		.sandwich__line {
			&--top {
				top: 10px;
				transform: rotate(45deg);
			}
			&--middle {opacity: 0;}
			&--bottom {
				top: 10px;
				transform: rotate(-45deg);
			}
		}
	}
	&__line {
		display: block;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		background-color: white;
		&--top {top: 0;}
		&--middle {top: 10px;}
		&--bottom {top: 18px;}
    
} 
}